$textFontFamily: 'Hind Siliguri', sans-serif;
$textColor: #a4aeb0;

.callContainer {
  margin: 10px;

  .span {
    margin: 10px;
    font-family: $textFontFamily;
    color: $textColor;
  }
  .button {
    width: 20px;
    height: 20px;
    color: $textColor;
    font-family: $textFontFamily;
    background-color: #006b9b;
    border: none;
    font-size: 18px;
    margin-right: 20px;
  }
  .button:disabled {
    color: gray;
    font-family: $textFontFamily;
    font-size: 18px;
    margin-right: 20px;
  }
}