.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 50px;

  .videoBox {
    .localVideo {
      margin: 0 20px;
      width: 480px;
      height: 360px;
    }

    .remoteVideo {
      margin: 0 20px;
      width: 480px;
      height: 360px;
    }
  }


  .buttonBox {
    margin: 20px auto;

    .buttonCall {
      margin: 10px 20px;
      height: 50px;
      width: 50px;
      border-radius: 30px;
      border: 1px solid white;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: rgba(255, 255, 255, 0);
    }

    .buttonCall:disabled {
      opacity: 0.5;
    }

    .buttonHangUp {
      margin: 10px 20px;
      height: 50px;
      width: 50px;
      border-radius: 30px;
      border: 1px solid white;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: rgba(255, 255, 255, 0);
    }

    .buttonHangUp:disabled {
      opacity: 0.5;
    }
  }

  .statsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 800px;
    margin: 0 auto;

    .callsBlock {
      width: 700px;
      margin: 20px auto;
    }

    .statsBlock {
      width: 470px;
      margin: 20px auto;
    }
  }

}